<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UITC ACADEMY</title>
</head>

<body style="display: flex; align-items: center; justify-content: center;">
    <fieldset style="display: flex; align-items: center; justify-content: center;">
        <pre style="font-family: monospace;">
+-----------------------------------+
|                                   |
|   Verify your email address to    |
|   complete the signup and login   |
|   into your account.              |
|                                   |
|   This link <i>expires in 6 hours!</i>   |
|   Press <a href="<%= direction %>">HERE</a> to proceed!          |
|                                   |
+-----------------------------------+
    </pre>
    </fieldset>
</body>

</html>